@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.loading-wave {
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  html {
    scroll-behavior: smooth;
  }
  
  .loading-bar {
    width: 20px;
    height: 10px;
    margin: 0 5px;
    background-color: #FFF250;
    border-radius: 5px;
    animation: loading-wave-animation 1s ease-in-out infinite;
  }
  
  .loading-bar:nth-child(2) {
    animation-delay: 0.1s;
  }
  
  .loading-bar:nth-child(3) {
    animation-delay: 0.2s;
  }
  
  .loading-bar:nth-child(4) {
    animation-delay: 0.3s;
  }
  
  @keyframes loading-wave-animation {
    0% {
      height: 10px;
    }
  
    50% {
      height: 50px;
    }
  
    100% {
      height: 10px;
    }
  }
  
  .sha {
    box-shadow: 0 0 15px #121316;
  }

  .shaw {
    box-shadow: 0 0 15px #b1b1b1;
  }
  
  .shawg {
    filter: drop-shadow(0 0 10px #ffffffc1);
  }

 .inssha {
  box-shadow: inset 0px 0px 10px #fff;
 }

  .mukta-medium {
    font-family: "Mukta", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  .mukta {
    font-family: "Mukta", sans-serif;
  }

  .mukta-bold {
    font-family: "Mukta", sans-serif;
    font-weight: 900;
    font-style: normal;
  }

  .anton-sc-regular {
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .shat {
    text-shadow: 2px 2px #FFF250;
  }

  .vertical-text {
    writing-mode: vertical-rl; 
    transform: rotate(180deg);
    margin-right: 20px;
}

  .cta {
    position: relative;
    margin: auto;
    padding: 4px 15px;
    z-index: 1;
    transition: all 0.2s ease;
  }
  .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 28px;
    background: #FFF250;
    width: 32px;
    height: 32px;
    transition: all 0.3s ease;
  }

  .cta:hover:before {
    width: 100%;
    background: #D29EFB;
  }

  .ctaac {
    width: 100%;
    background: linear-gradient(180deg,#D29EFB, #5c049f);
  }

  .cta:active {
    transform: scale(0.96);
  }

    
  .blob{
    position: relative;
    background-size: cover;
    width: 600px;
    height: 550px;
    -webkit-background-position: center;
    background-position: center center;
    margin-top: 10%;;
    box-shadow: 0px 0px 10px 5px 
    #FFF250;
    animation: animate 5s ease-in-out infinite;
    transition: all 1s ease-in-out;
}

.txt {
  font-size: 280px;
}

@keyframes animate {
    0%, 100%{
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    50%{
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }
}

.glow {
  animation: glowEffect 2s infinite;
  color: #FFF250;
}

.shay {
  box-shadow: 0 0 10px #FFF250;
}

@keyframes glowEffect {
  0%, 50% {
    text-shadow: 0 0 10px #FFF250;
  }
  100% {
    text-shadow: none;
  }
}

.card {
  padding: 20px;
  width: 330px;
  min-height: 370px;
  border-radius: 20px;
  background: #212121;
  box-shadow: 5px 5px 8px #1b1b1b,
             -5px -5px 8px #272727;
  transition: 0.4s;
}

.card:hover {
  translate: 0 -10px;
}

.card-title {
  font-size: 18px;
  color: #FFF250;
  margin: 15px 0 0 10px;
}

.card-image {
  min-height: 170px;
  background-color: #313131;
  border-radius: 15px;
  background: #313131;
  box-shadow: inset 5px 5px 3px #2f2f2f,
            inset -5px -5px 3px #333333;
}

.card-body {
  margin: 13px 0 0 10px;
  color: rgb(184, 184, 184);
  font-size: 15px;
}

.footer {
  float: right;
  font-size: 13px;
  color: #383737;
}

.by-name {
  font-weight: 700;
}